@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: .3s;
}
.div {
  display: flex;
  min-height: 100vh;
  background: #e8e8e8;
}
.body {
  width: 100%;
  background: #e8e8e8;
  /* background-color: rgba(0, 0, 0, 0.253); */
  /* color: #0630bd; */
}


*::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 25px;
}

*::selection {
  background-color: #4400fd;
  color: white;
}